In [1]:
import pandas as pd
import numpy as np

%matplotlib inline`

In [2]:
summary = pd.read_csv('data/atussum_2014.dat')

In [3]:
summary.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11592 entries, 0 to 11591
Columns: 409 entries, tucaseid to t500107
dtypes: float64(1), int64(408)
memory usage: 36.3 MB

In [4]:
summary.keys()

Index(['tucaseid', 'TUFINLWGT', 'TRYHHCHILD', 'TEAGE', 'TESEX', 'PEEDUCA',
       'PTDTRACE', 'PEHSPNON', 'GTMETSTA', 'TELFS',
       ...
       't181601', 't181699', 't181801', 't181899', 't189999', 't500101',
       't500103', 't500105', 't500106', 't500107'],
      dtype='object', length=409)

In [5]:
summary.describe()

,tucaseid,TUFINLWGT,TRYHHCHILD,TEAGE,TESEX,PEEDUCA,PTDTRACE,PEHSPNON,GTMETSTA,TELFS,...,t181601,t181699,t181801,t181899,t189999,t500101,t500103,t500105,t500106,t500107
count,1.159200e+04,1.159200e+04,11592.000000,11592.000000,11592.000000,11592.000000,11592.000000,11592.000000,11592.000000,11592.000000,...,11592.000000,11592.000000,11592.000000,11592.000000,11592.000000,11592.000000,11592.000000,11592.000000,11592.000000,11592.000000
mean,2.014065e+13,7.937520e+06,2.535714,48.797188,1.557971,40.522774,1.390873,1.852226,1.177105,2.572378,...,0.168910,0.007074,0.024155,0.005176,1.718944,7.048223,0.514924,0.274672,4.348948,0.082471
std,3.478180e+08,7.080686e+06,5.339765,17.892812,0.496649,2.822656,1.147855,0.354891,0.401383,1.900131,...,4.734111,0.761614,1.127810,0.394038,22.884398,39.249255,7.097284,5.021268,20.535816,4.611554
min,2.014010e+13,7.604824e+05,-1.000000,15.000000,1.000000,31.000000,1.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.014030e+13,3.410686e+06,-1.000000,35.000000,1.000000,39.000000,1.000000,2.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2.014061e+13,5.817769e+06,-1.000000,48.000000,2.000000,40.000000,1.000000,2.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2.014091e+13,9.939696e+06,5.000000,63.000000,2.000000,43.000000,1.000000,2.000000,1.000000,5.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2.014121e+13,1.368110e+08,17.000000,85.000000,2.000000,46.000000,21.000000,2.000000,3.000000,5.000000,...,430.000000,82.000000,80.000000,30.000000,1050.000000,1385.000000,290.000000,150.000000,178.000000,479.000000

* TUFINLWGT - statistical weight of respondent
* TRYHHCHILD - age of youngest child in household
* TEAGE - age of respondent
* TESEX - sex of respondent
* TELFS - working status of respondent
* TRCHILDNUM - number of children in household

In [6]:
summary.head()

,tucaseid,TUFINLWGT,TRYHHCHILD,TEAGE,TESEX,PEEDUCA,PTDTRACE,PEHSPNON,GTMETSTA,TELFS,...,t181601,t181699,t181801,t181899,t189999,t500101,t500103,t500105,t500106,t500107
0,20140101140007,4891315.826760,0,20,2,39,1,1,1,4,...,0,0,0,0,0,0,0,0,0,0
1,20140101140011,23147368.359655,16,16,2,37,2,2,1,1,...,0,0,0,0,0,0,0,0,0,0
2,20140101140028,20941823.429044,2,65,2,38,1,1,1,5,...,0,0,0,0,0,0,0,0,0,0
3,20140101140063,2505899.417166,-1,50,2,39,2,2,2,5,...,0,0,0,0,0,0,0,0,0,0
4,20140101140168,15928231.823165,8,23,2,39,2,2,2,4,...,0,0,0,0,0,0,0,0,0,0

In [8]:
len(summary.tucaseid.unique())

11592

In [14]:
summary = summary.rename(columns={'tucaseid': 'TUCASEID'})

In [10]:
activity = pd.read_csv('data/atusact_2014.dat')

In [11]:
activity.head()

,TUCASEID,TUACTIVITY_N,TEWHERE,TRTCCTOT_LN,TRTCC_LN,TRTCOC_LN,TRTEC_LN,TRTHH_LN,TRTNOHH_LN,TRTOHH_LN,...,TUCUMDUR24,TUEC24,TUSTARTTIM,TUSTOPTIME,TUTIER1CODE,TUTIER2CODE,TUTIER3CODE,TRCODE,TRTIER2,TXWHERE
0,20140101140007,1,-1,0,0,0,-1,0,-1,0,...,540,-1,04:00:00,13:00:00,1,1,1,10101,101,0
1,20140101140007,2,1,0,0,0,-1,0,-1,0,...,570,-1,13:00:00,13:30:00,3,1,1,30101,301,0
2,20140101140007,3,-1,60,60,0,-1,60,-1,60,...,630,-1,13:30:00,14:30:00,1,2,1,10201,102,0
3,20140101140007,4,13,10,10,0,-1,10,-1,10,...,640,-1,14:30:00,14:40:00,18,11,1,181101,1811,0
4,20140101140007,5,4,30,30,0,-1,30,-1,30,...,670,-1,14:40:00,15:10:00,11,1,1,110101,1101,0

In [16]:
merged = pd.merge(summary, activity)

In [17]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 223249 entries, 0 to 223248
Columns: 437 entries, TUCASEID to TXWHERE
dtypes: float64(1), int64(434), object(2)
memory usage: 746.0+ MB

In [19]:
len(merged[merged.TRCHILDNUM == 0])

122348

In [20]:
mem_suckers = []
for _ in range(20):
    mem_suckers.append(merged.copy())